#privacy-choices #privacy-choices-banner {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#privacy-choices #privacy-choices-banner #privacy-choices-notification {
    width: 100%;
    background: #0077a7;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

#privacy-choices #privacy-choices-banner #privacy-choices-notification #privacy-choices-notification-message {
    margin-right: 20px;
}

#privacy-choices #privacy-choices-banner #privacy-choices-notification #privacy-choices-notification-buttons button {
    margin-right: 10px;
}

#privacy-choices #privacy-choices-banner #privacy-choices-notification #privacy-choices-notification-buttons button:last-child {
    margin-right: 0;
}