.privacy-choices-accept {
    background: rgb(0, 136, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15pt;
}

.privacy-choices-close-sidebar {
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer;
    float: right;
}