/* Appplication root. */

#react-archetype-app {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Sticky navbar. */

#react-archetype-nav .navbar-brand {
    line-height: 15px;
    padding-top: 9px;
    padding-bottom: 0;
}

#react-archetype-nav .navbar-brand small {
    display: block;
    font-size: 10px;
}

/* Content root. */

#react-archetype-main {
    margin-top: 10px;
}