#privacy-choices > div:first-of-type > div:first-of-type {
    background: #222222;
    padding: 20px;
}

#privacy-choices #privacy-choices-settings {
    width: 100%;
}

@media (min-width: 768px) {
    #privacy-choices #privacy-choices-settings {
        width: 400px;
    }
}

#privacy-choices #privacy-choices-settings > p {
    padding-bottom: 20px;
}

#privacy-choices #privacy-choices-settings #privacy-choices-settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#privacy-choices #privacy-choices-settings .privacy-choices-settings-divider {
    margin: 0;
    height: 1px;
    background: #ffffff;
    margin-bottom: 20px;
}

#privacy-choices #privacy-choices-settings #privacy-choices-settings-bulk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#privacy-choices #privacy-choices-settings .privacy-choices-category {
    padding-bottom: 20px;
}

#privacy-choices #privacy-choices-settings .privacy-choices-category .privacy-choices-category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

/* Handling the Wordpress admin bar */

.admin-bar #privacy-choices #privacy-choices-settings {
    margin-top: 46px;
}

@media screen and (min-width: 783px) {
    .admin-bar #privacy-choices #privacy-choices-settings {
        margin-top: 32px;
    }
}