#privacy-choices {
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}

#privacy-choices h3,
#privacy-choices h4,
#privacy-choices p,
#privacy-choices a,
#privacy-choices button {
    margin: 0;
    font-size: 1.3em;
    line-height: 1.5em;
}

#privacy-choices h4 {
    font-size: 1.1em;
}

#privacy-choices a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#privacy-choices a:hover, #privacy-choices a:focus {
    text-decoration: underline;
}

#privacy-choices p, #privacy-choices button, #privacy-choices a {
    font-size: 1em;
}

#privacy-choices button {
    background: #690060;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 20px;
}

#privacy-choices button:hover, #privacy-choices button:focus {
    outline: 0;
    text-decoration: underline;
}

.privacy-choices-no-scroll {
    overflow: hidden;
}