#privacy-choices {
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}

#privacy-choices h3,
#privacy-choices h4,
#privacy-choices p,
#privacy-choices button {
    margin: 0;
    font-size: 1.3em;
    line-height: 1.5em;
}

#privacy-choices h4 {
    font-size: 1.1em;
}

#privacy-choices p, #privacy-choices button {
    font-size: 1em;
}

#privacy-choices button {
    background: #690060;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 20px;
}

#privacy-choices button:focus {
    outline: 0;
}

























.privacy-choices-service .switch {
    vertical-align: middle;
    margin: 0 20px;
}

.privacy-choices-service .description {
    display: block;
    color: #fff;
}












.privacy-choices-accept {
    background: rgb(0, 136, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15pt;
}

.privacy-choices-close-sidebar {
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer;
    float: right;
}