#privacy-choices #privacy-choices-toggle {
    background: #000025;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: .9em;
    white-space: nowrap;
    padding: 0 20px;
    z-index: 10000;
}

#privacy-choices #privacy-choices-toggle :focus {
    outline: 0;
}